.container {
  display: grid;
  grid-template-columns:repeat(5, auto-fill, minmax(250px, 1fr) );;
  grid-template-rows: repeat(8, auto-fill, minmax(250px, 1fr) );
}

#title {

  grid-column-end: span 2;
  /*this should span the entire page, look into using negative numbers in grid-column-end*/;
}

.friend {
}

/* Style other types of family members below*/